.person {
  display: inline-block;
  margin: 10px;
  border: 2px solid #eee;
  box-shadow: 0 2px spx #ccc;
  width: 300px;
}

img {
  margin-top: 50px;
}

body {
  font-family: Arial, Helvetica, Nimbus Sans L, sans-serif;
  text-align: center;
}

.bc {
  color: #b1228c;
}
.person img {
  height: 150px;
}
